@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.eot");
    src: url("../fonts/Gilroy-Bold.eot#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-Bold.woff") format("woff"),
        url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-SemiBold.eot");
    src: url("../fonts/Gilroy-SemiBold.eot#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-SemiBold.woff") format("woff"),
        url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.eot");
    src: url("../fonts/Gilroy-Medium.eot#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-Medium.woff") format("woff"),
        url("../fonts/Gilroy-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.eot");
    src: url("../fonts/Gilroy-Regular.eot#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.eot");
    src: url("../fonts/Gilroy-Light.eot#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-Light.woff") format("woff"),
        url("../fonts/Gilroy-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.eot");
    src: url("../fonts/Inter-Bold.eot#iefix") format("embedded-opentype"),
        url("../fonts/Inter-Bold.woff") format("woff"),
        url("../fonts/Inter-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.eot");
    src: url("../fonts/Inter-SemiBold.eot#iefix") format("embedded-opentype"),
        url("../fonts/Inter-SemiBold.woff") format("woff"),
        url("../fonts/Inter-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}


/*сброс стилей*/
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* общие */
body {
    font-family: "Gilroy";
    color: #FFF;
    background-color: #FFF;
}

.container {
    max-width: 1364px;
}

/* header */

.header {
    position: relative;
    margin-bottom: -230px;
    z-index: 100;
}

.header-top {
    padding-top: 15px;
}

.header-hotline {
    margin: 0 23px 0 0;
    padding: 0 13px;
    border-right: 2px solid;
    border-left: 2px solid;
    white-space: nowrap;
}

.hotline-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    margin-right: 6px;
}

.hotline-phone {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: unset;
    letter-spacing: -0.65px;
    border-bottom: dashed #fff 2px;
    margin: auto 0;
    line-height: 150%;
}

.header-soc {}

.header-soc-item {
    margin-right: 24px;
}

.title-soc {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
    border-bottom: dashed #fff 2px;
    white-space: nowrap;
    line-height: 150%;
}

.icon-soc {
    margin: 0px 8px 0 0;
}

.big-font-icon {
    margin-right: 6px;
}

.big-font-text {
    color: #FFF;
    white-space: nowrap;
    leading-trim: both;
    text-edge: cap;
    font-family: "Gilroy";
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
}

/* header-center */
.header-center {
    margin: 32px 0 30px 0;
}

.header-center-left {}

.header-logo {
    margin-right: 30px;
}

.header-left-text {}

.text-uppercase {}

.header-center-title-top {
    color: rgba(255, 255, 255, 0.79);
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
}

.header-center-title-centre {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.header-center-title-bottom {
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
}

.header-center-right {
    max-width: 190px;
}

.right-top {
    color: #FFF;

    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.right-row {
    align-items: end;
}

.right-icon {
    margin: 0 6px 5px 0;
}

.right-text {
    text-align: right;
}

.right-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.065px;
}

.right-phone {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -1.08px;
}

/* header-bottom */

.header-menu ul {}

.menu-item {
    margin: 0 36px 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

.header-search {
    position: relative;
}

.search-field {
    border-radius: 6px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 4px 12px;
    color: #FFF;
}

input[type="search"]::-webkit-input-placeholder {
    color: #FFF;
}

input[type="search"]::-moz-placeholder {
    color: #FFF;
}


.search-icon {
    position: absolute;
    right: 12px;
    top: 6px;
}

/* header-mob */



.header-mob {
    padding: 15px 10px;
}

.mob-logo {
    padding-right: 21px;
    border-right: 1px solid #fff;
}

.mob-search {
    margin: 21px;
    position: relative;
}

.mob-search img {
    position: absolute;
    left: 0;
    top: 2px;

}

.mob-search-input {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    background-color: #1e469d00;
    padding-left: 25px;
}

.mob-burger {
    width: 32px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.mob-burger::after,
.mob-burger::before,
.mob-burger span {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #FFF;
    transition: 0.3s ease;

}

.mob-burger span {
    top: calc(50% - 1.5px);
}

.mob-burger::after {
    top: 0;
}

.mob-burger::before {
    bottom: 0;
}

.mob-burger.active span {
    display: none;
}

.mob-burger.active::after {
    transform: rotate(45deg);
    top: 50%;
}

.mob-burger.active::before {
    transform: rotate(-45deg);
    top: 50%;
}

.header-mob-menu {
    left: 0;
    padding-left: calc(50% - 100px);
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    top: -100vh;
    position: absolute;
    transition: 0.8s ease;
    background-color: #1E469D;
    z-index: -1000;
    height: 100vh;

}

.header-mob-menu.active {
    opacity: 1;
    top: 90px;
    z-index: 1000000000;
}

@media(max-width:1280px) {
    .header-menu {
        display: none;
    }

    .hotline-title {
        display: none;
    }

    .header-center-title-top {
        font-size: 13px;
    }

    .header-center-title-centre {
        font-size: 18px;
    }

    .header-center-title-bottom {
        font-size: 26px;
    }

    .header-search {
        margin-left: auto;
    }
}

@media(max-width:991.8px) {
    .header {
        background-color: #1E469D;
    }

    #carouselExampleIndicators {
        height: 80vh;
    }

    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        height: 100%;
    }

    .carousel-item img {
        object-fit: cover;
    }

    .header {
        margin-bottom: 0;
    }

    .mob-search-input {
        max-width: 150px;
    }
}

/* top banner */

.top-banner {
    max-height: 100vh;
}

.top-banner .swiper {
    position: unset;
    width: 100%;
    height: 100vh;
}

.top-banner .slider-img {
    position: absolute;
    top: 0;
    left: calc(0px - (100vw - 100%) / 2);
    object-fit: cover;
    width: 100vw;
    height: 100%;
    background: black;
    z-index: 2;
    opacity: 0.3;
}

.top-banner .swiper-slide img {
    position: absolute;
    top: 0;
    left: calc(0px - (100vw - 100%) / 2);
    object-fit: cover;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

@media(max-width:1364px) {
    .top-banner .swiper-slide img {
        left: -10px;
        width: 100vw;
    }

    .top-banner .slider-img {
        left: -10px;
        width: 100vw;
    }
}


.top-banner .swiper {
    position: relative;
}


.top-banner .swiper .swiper-slide {
    height: 100%;
    display: flex;
    align-items: center;
}

.top-banner .swiper-slide .slider-title {
    margin-top: 100px;
    font-size: 96px;
    font-weight: 600;
    line-height: 92%;
    max-width: 400px;
    z-index: 3;
}

.top-banner .swiper .pag-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.top-banner .swiper .swiper-pagination {
    position: relative;
    padding-right: 23px;
}

.top-banner .swiper .swiper-pagination-bullet {
    background-color: #FFF;
    opacity: 1;
    width: 15px;
    height: 15px;
    position: relative;
    margin: 14px 0 !important;
}

.top-banner .swiper-pagination-bullet-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    left: -5px;
    border-radius: 100%;
    border: 1px solid #FFF;
}

.top-banner .swiper-button-prev {
    position: relative;
    margin: 0;
    right: 0;
    padding-right: 48px;
}

.top-banner .swiper-button-next {
    position: relative;
    margin: 0;
    padding: 0;
    right: 0;
    padding-right: 38px;
}

.top-banner .swiper-button-next::after {
    color: #FFF;
}

.top-banner .swiper-button-prev::after,
.top-banner .swiper-button-next::after {
    font-size: 30px;
    color: #FFF;
    transform: rotate(90deg);
}

@media (max-width: 991.8px) {
    .top-banner .swiper-slide img {
        left: calc(0px - (100vw - 100%) / 2);
        width: 100vw;
    }

    .top-banner .slider-img {
        left: calc(0px - (100vw - 100%) / 2);
        width: 100vw;
    }

    .top-banner .swiper {
        height: 80vh;
    }

    .top-banner .swiper-button-prev::after,
    .top-banner .swiper-button-next::after {
        display: none;
    }

    .top-banner .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 100%;
    }

    .top-banner .swiper .swiper-pagination-bullet {
        margin: 0 14px !important;
    }

    .top-banner .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .top-banner .swiper-slide .slider-title {
        position: absolute;
        top: 100px;
        font-size: 64px;
        max-width: 240px;
    }
}

/* news */
.news-top {
    align-items: center;
    margin: 70px 0 48px 0;
    position: relative;
}


.section-title {
    color: #1E469D;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.section-detail-link {
    color: #1E469D !important;
    font-size: 20px;
    font-weight: 700;
    border-bottom: dashed #1E469D 2px;
    line-height: normal;
}

.swiper-news {
    padding-bottom: 64px;
    overflow: hidden;
}


.swiper-slide {}

.news-slide {
    max-width: fit-content;
}

.left-news {
    max-width: 781px;
    border-radius: 6px;
    background: linear-gradient(289deg, #44C3FE 2.59%, #048FEC 24.94%, #336AE1 68.16%, #1250D7 97.96%);
    padding: 29px 21px;
}

.left-news .news-date {
    flex: 0 0 55%;
}

.news-date {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.left-news .news-title {
    margin-bottom: 30px;
}

.left-news .left-news-description {
    margin-bottom: 37px;
    padding-right: 25px;
}

.news-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
}

.left-news-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.news-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    text-decoration-line: underline;
}

.right-news {
    padding: 27px 34px;
    max-width: 550px;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(../img/news-back2.jpg), lightgray 0px -134.275px / 100% 162.744% no-repeat;
}

.right-news .news-date {
    padding: 227px 0 36px 0;
}

.right-news .news-title {
    margin-bottom: 23px;
}

.news-pag {
    position: absolute;
    bottom: auto !important;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: end;
}

.news-pag {}

.news-prev {}


/* footer */

.footer {
    padding: 54px 0 20px 0;
    background-color: #1E469D;
}

.footer-logo {
    margin-right: 30px;
}

.footer-top {
    margin-bottom: 40px;
}

.footer-top-title-top {
    color: rgba(255, 255, 255, 0.76);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.footer-top-title-centre {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.footer-top-title-bottom {
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
}

.footer-right {
    text-align: right;
}

.right-tel {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 115%;
}

.right-tel-mid {
    font-size: 20px;
    font-weight: 500;
    line-height: 115%;
}

.right-tel-phone {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
}

.right-tel-call {
    font-size: 14px;
    font-weight: 300;
    line-height: 135%;
}

/* footer mid */

.footer-menu {
    flex: 0 0 20%;
}

.footer-menu:nth-child(2) {
    flex: 0 0 10%;
}

.footer-menu-column {
    flex: 0 0 20%;

}

.footer-menu h2 {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.footer-menu {
    margin-bottom: 20px;

}

.footer-menu-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer-menu-item::before {
    content: "-";
}

/* footer-bottom */
.footer-bottom {
    margin-bottom: 26px;
}

.bottom-left {
    font-size: 18px;
    font-weight: 500;
    line-height: 155.5%;
    text-decoration-line: underline;
}

.footer-law-map {
    margin-right: 24px;
}


.footer-soc-item {
    margin-right: 30px;

}

.footer-soc-item:last-child {
    margin: 0;
}

/* footer-powered */

.footer-powered-item img {
    margin-left: 4px;
}

@media (max-width: 991.8px) {
    .footer-mid {
        flex-wrap: wrap;
        margin: 0 20px;
    }

    .footer-menu,
    .footer-menu-column,
    .footer-menu:nth-child(2) {
        flex: 0 0 40%;
    }

    .footer-menu-item {}
}

@media(max-width:768px) {
    .footer-logo {
        margin-right: 0;
    }

    .right-tel-phone {
        font-size: 26px;
    }
}